
/*CSS Variables*/
:root {
  --primary-color: #9c5526;
  --secondary-color: #54331d;
  --white-color: #ede7e3;
  --hover-color: #ec823c;
  --black-color: #353331;
  --black75: hsla(24, 4%, 20%, 0.75);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*Global Styles*/
h1, h3, h4 {
  font-family: 'Patua One', cursive;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2.7rem;
  background-color: var(--white-color);
  width: 250px;
  padding: 0.15em 0em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 30px 0px hsla(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px 0px rgba(84, 51, 29, 0.5) inset;
}


h3 {
  font-size: 1.9rem;
}


h4 {
  font-size: 1.6rem;
}

.small {
  font-size: 1rem;
}

body {
  font-family: 'sofia sans', sans-serif;
  font-size: 1.1rem;
  color: var(--black-color);
  line-height: 1.4;
  background-color: linear-gradient(0, 0, 0, 0.5);
  background-image: url("../images/coffee.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}


/*Header*/
header {
  background-color: var(--secondary-color);
  padding: 1rem 0rem;
}

nav {
  text-align: right;
}
nav li {
  display:inline;
  margin-right: 1rem;
}

nav a {
  text-decoration-line: none;
  color: var(--white-color);
  font-size: 1.9rem;
}

/* main */
main {
  background-color: var(--white-color);
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem 0;
}

.content-wrapper{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


/* About section */
#about {
  margin-bottom: 1rem;
}

#about p {
  max-width: 60ch;
  margin-bottom: 0.5rem;
}

#about li {
  list-style: none;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 1em 1em;
  padding-left: 1.5em;
  background-position: 0 0.2em;
}

/*Menu section*/
#menu {
  margin-bottom: 1rem;
}

#menu h4 {
  text-align: center;
}

#menu section:last-child {
  margin-top: 1rem;
}

.item p {
  display: inline-block;

}

.title {
  width: 75%;
  text-align: left;
}

.price {
  width: 25%;
  text-align: right;
}


/*Reservation section*/
input, select, textarea {
  font: inherit;
  color: var(--black-color);
}

label {
  display: block;
  color: var(--black75);
}

input, textarea {
  background-color: #d6ab8f;
  border: none;
  width: 100%;
  margin-bottom: 0.5em;
}

input[type="submit"] {
  font-size: 1.25rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.5em 0;
  border-radius: 8px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--secondary-color);
}

/*footer*/
footer {
  background-color: var(--secondary-color);
  color: var(--white-color);
  text-align: center;
  padding: 1rem 0;
}